In [1]:
import pandas as pd

In [35]:
df_total = pd.read_csv('../../../data/df_nonans.csv', index_col=0)

In [49]:
#list(df_total['variety'].value_counts().index)

In [2]:
df = pd.read_csv('wc_Pinot Noir.csv', index_col=0)

In [50]:
df.head(20)

         word  word count
0        wine        7539
1       fruit        5557
2      tannin        4203
3      flavor        2971
4       black        2865
5       drink        2598
6    cabernet        2540
7        ripe        2289
8     acidity        2192
9       blend        1686
10     merlot        1608
11       wood        1523
12       rich        1491
13    currant        1475
14        age        1467
15  structure        1463
16       firm        1451
17  sauvignon        1430
18        dry        1407
19      juicy        1225

In [8]:
df_bsrb = pd.read_csv('wc_Bordeaux-style Red Blend.csv', index_col=0)

In [10]:
df_bsrb.head(5)

     word  word count
0    wine        7539
1   fruit        5557
2  tannin        4203
3  flavor        2971
4   black        2865

In [11]:
df_cf = pd.read_csv('wc_Cabernet Franc.csv', index_col=0)
df_cf.head()

     word  word count
0    wine         841
1  flavor         821
2  cherry         713
3   fruit         631
4  tannin         618

In [51]:
df_cs = pd.read_csv('wc_Cabernet Sauvignon.csv', index_col=0)
df_cs.head(35)

          word  word count
0       flavor        6105
1         wine        5137
2       tannin        4121
3        fruit        3955
4        black        3751
5       cherry        3659
6     cabernet        3278
7   blackberry        3245
8       finish        3162
9          oak        2625
10       aroma        2322
11         dry        2204
12      palate        2179
13     currant        2060
14       drink        1816
15      cassis        1710
16        note        1665
17        good        1642
18        plum        1600
19   chocolate        1564
20        ripe        1543
21       berry        1514
22         red        1500
23        dark        1442
24       spice        1430
25        rich        1408
26        herb        1403
27        soft        1371
28        show        1352
29        year        1226
30       sweet        1218
31         cab        1142
32      tannic        1092
33     acidity        1043
34      bodied        1041

In [13]:
df_char = pd.read_csv('wc_Chardonnay.csv', index_col=0)
df_char.head()

      word  word count
0     wine        7870
1   flavor        7234
2    fruit        5408
3    apple        4518
4  acidity        4413

In [15]:
df_gv = pd.read_csv('wc_Grüner Veltliner.csv', index_col=0)
df_gv.head()

     word  word count
0    wine         800
1  palate         715
2    pear         679
3   fruit         564
4   fresh         469

In [16]:
df_mal = pd.read_csv('wc_Malbec.csv', index_col=0)
df_mal.head()

     word  word count
0  flavor        2201
1   fruit        1579
2  finish        1478
3    wine        1320
4   aroma        1292

In [17]:
df_mer = pd.read_csv('wc_Merlot.csv', index_col=0)
df_mer.head()

     word  word count
0  flavor        2080
1    wine        1618
2  cherry        1528
3   fruit        1480
4  merlot        1338

In [18]:
df_neb = pd.read_csv('wc_Nebbiolo.csv', index_col=0)
df_neb.head()

     word  word count
0  tannin        2083
1  cherry        1943
2  palate        1910
3   aroma        1564
4   berry        1353

In [19]:
df_pg = pd.read_csv('wc_Pinot Gris.csv', index_col=0)
df_pg.head()

     word  word count
0  flavor         854
1    wine         851
2    pear         808
3   fruit         790
4  finish         515

In [20]:
df_pn = pd.read_csv('wc_Pinot Noir.csv', index_col=0)
df_pn.head()

     word  word count
0    wine        8911
1  cherry        7597
2  flavor        7183
3   fruit        6989
4   pinot        4310

In [21]:
df_pr = pd.read_csv('wc_Portuguese Red.csv', index_col=0)
df_pr.head()

      word  word count
0     wine        3716
1    fruit        2362
2   tannin        1781
3    drink        1673
4  acidity        1172

In [22]:
df_pr = pd.read_csv('wc_Portuguese White.csv', index_col=0)
df_pr.head()

      word  word count
0     wine        1479
1    drink         740
2  acidity         662
3   flavor         603
4    fruit         602

In [23]:
df_rb = pd.read_csv('wc_Red Blend.csv', index_col=0)
df_rb.head()

     word  word count
0   blend        4520
1  flavor        4501
2  cherry        4346
3   black        4340
4    wine        4070

In [24]:
df_rsrb = pd.read_csv('wc_Rhône-style Red Blend.csv', index_col=0)
df_rsrb.head()

     word  word count
0   fruit         836
1    wine         786
2  flavor         767
3   blend         755
4   syrah         728

In [25]:
df_rie = pd.read_csv('wc_Riesling.csv', index_col=0)
df_rie.head()

     word  word count
0  flavor        2812
1     dry        2647
2  finish        2627
3  palate        2318
4    wine        2181

In [26]:
df_ros = pd.read_csv('wc_Rosé.csv', index_col=0)
df_ros.head()

      word  word count
0     wine        2791
1    fruit        1762
2   flavor        1753
3  acidity        1652
4      red        1489

In [27]:
df_san = pd.read_csv('wc_Sangiovese.csv', index_col=0)
df_san.head()

     word  word count
0  cherry        1951
1  palate        1682
2  tannin        1642
3   aroma        1339
4   black        1322

In [28]:
df_sb = pd.read_csv('wc_Sauvignon Blanc.csv', index_col=0)
df_sb.head()

      word  word count
0     wine        3272
1   flavor        3110
2    fruit        2125
3   finish        1801
4  acidity        1619

In [31]:
df_tem = pd.read_csv('wc_Tempranillo.csv', index_col=0)
df_tem.head()

     word  word count
0  flavor        1711
1  finish        1203
2   aroma        1096
3   berry         987
4   fruit         954

In [32]:
df_wb = pd.read_csv('wc_White Blend.csv', index_col=0)
df_wb.head()

     word  word count
0    wine        1327
1   blend        1282
2  flavor        1188
3   fruit        1065
4   white        1039

In [33]:
df_zin = pd.read_csv('wc_Zinfandel.csv', index_col=0)
df_zin.head()

         word  word count
0      flavor        1723
1        wine        1621
2       fruit         899
3  blackberry         883
4      cherry         864

In [30]:
df_sy = pd.read_csv('wc_Syrah.csv', index_col=0)
df_sy.head()

     word  word count
0  flavor        2757
1   fruit        2321
2    wine        2189
3   black        1808
4   syrah        1765

In [29]:
df_sh = pd.read_csv('wc_Shiraz.csv', index_col=0)
df_sh.head()

     word  word count
0  finish         484
1   fruit         445
2    wine         418
3   drink         397
4  shiraz         396

In [44]:
df_ba = pd.read_csv('wc_Barbera.csv', index_col=0)
df_ba.head()

     word  word count
0    wine         391
1  cherry         375
2   black         357
3   fruit         343
4   aroma         315

In [45]:
df_crm = pd.read_csv('wc_Corvina, Rondinella, Molinara.csv', index_col=0)
df_crm.head()

     word  word count
0    wine         429
1   fruit         306
2   spice         293
3  cherry         272
4   aroma         269

In [46]:
df_sh = pd.read_csv('wc_Grenache.csv', index_col=0)
df_sh.head()

     word  word count
0  flavor         398
1  cherry         357
2    wine         356
3   fruit         275
4     red         246

In [52]:
df_sh = pd.read_csv('wc_Port.csv', index_col=0)
df_sh.head(20)

         word  word count
0        wine         734
1       fruit         494
2     acidity         346
3      flavor         327
4         dry         268
5      tannin         251
6        ripe         248
7        rich         223
8         age         223
9       sweet         220
10       port         213
11      drink         213
12  character         194
13       wood         178
14      black         150
15     fruity         128
16    balance         128
17        old         127
18       show         118
19  structure         117

In [48]:
df_sh = pd.read_csv('wc_Viognier.csv', index_col=0)
df_sh.head()

     word  word count
0  flavor         679
1    wine         496
2   fruit         471
3  finish         364
4   peach         352